name: "acme-balloon"
namespace: "acme-balloon"
replicas: 3

priorityClass:
  balloon:
    value: -10
  default:
    value: 0
# priorityClassName: acme-balloon-priority  # Override to use existing PriorityClass

container:
  name: "acme-balloon"
  image: "debian:12-slim"
  command: ["sleep"]
  args: ["infinity"]
  resources:
    requests:
      cpu: "50m"
      memory: "24Mi"
    limits:
      cpu: "50m"
      memory: "24Mi"

terminationGracePeriodSeconds: 0

tolerations:
  - key: "gke_node_type"
    operator: "Equal"
    value: "spot-default"
    effect: "NoSchedule"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "gke_node_type"
              operator: "In"
              values: ["spot-default"]
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: "app.kubernetes.io/name"
              operator: "In"
              values:
                - "acme-balloon"
        topologyKey: "kubernetes.io/hostname"

topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: acme-balloon
    maxSkew: 1
    topologyKey: "kubernetes.io/hostname"
    whenUnsatisfiable: "DoNotSchedule"

